<div class="signup-container">
    <div class="Signup">
      <h2>Signup! 👋</h2>
      <p>How do I get started?</p>
      <button class="btn btn-google">Signup in with Google</button>
      <button class="btn btn-apple">Signup in with Apple</button>
      <p>or Sign up with Email</p>
      <form>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="test@atheros.ai">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="******">
        <button type="submit" class="btn btn-signin">Sign Up</button>
      </form>
      <p>Don't have an account? <a href="#">Sign Up Now</a></p>
    </div>
    <div class="Signup-right">
      <div class="signup-info">
        <h3>Why should I login?</h3>
        <p>By Signing up, you can access your personal dashboard, where you can manage your account, view your profile, and much more.</p>
      </div>
    </div>
  </div>

